* {
    margin: 0;
    padding: 0;
}
html {
	overflow: hidden;
	height: 100%;
}
body {
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#bgm {
    display: none;
}

#canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -232px 0 0 -232px;
    width: 465px;
    height: 465px;
    background: #000;
}